/* 소스코드보기가 공유하는 CSS */

body{
  margin-top: -30px;
  margin-bottom: -40px;  
}
xmp {
  font-family: consolas;
  font-size: 17px;        /* 소스코드보기 폰트 크기 */
  line-height: 1.3;       /* 소스코드보기 줄간격 */
}
